.contenedor
    h1.contenedor-titulo Datos de consulta
    .contenedor-grid.form
        +data-section-item("Número de gaceta", "Número de gaceta")
        .contenedor
            label.label Fecha del ejemplar
            div.contenedor-inputs
                input(type="date" class="prueba" data-placeholder="Fecha" aria-required="true")
                input(type="date")
        +data-section-item("Fecha de recepción", "Fecha de recepción", "date")
        div.contenedor-inputs
            button Limpiar
            button Consultar