nav.menu
    img.menu-logo(src="", alt="")
    ul.menu-items
        li.menu-item
            a.menu-link(href="./index.html") Inicio
        li.menu-item
            a.menu-link(href="./alta.html") Alta
        li.menu-item
            a.menu-link(href="./consulta.html") Consulta
        li.menu-item
            a.menu-link(href="./modificacion.html") Modificación
        li.menu-item
            a.menu-link(href="./salir.html") Salir
    img.menu-icono(src="", alt="")