include ../includes/mixins.pug

header.menu-header
    nav.menu.container
        img.menu-logo(src="", alt="")
        ul.menu-items
            +menu-list-item('Inicio', "./index.html")
            +menu-list-item('Alta', "./alta.html")
            +menu-list-item('Consulta', "./consulta.html")
            +menu-list-item('Modificacion', "./modificacion.html")
            +menu-list-item('Salir', "./salir.html")
        img.menu-icon(src="", alt="")
