extends ../config/template.pug
append config
    -title=  "Hemeroteca | Consulta"
    -description= "Consulta de la gaceta"

    -second_section = "Resultados de búsqueda"

block main
    main.main
        .contenedor
            include ../includes/form-consulta.pug
                    
            h1.contenedor-item-titulo Resultados de búsqueda