extends ../config/template.pug
append config
    -title=  "Hemeroteca | Consulta"
    -description= "Consulta de la gaceta"

    -second_section = "Resultados de búsqueda"

block main
    main.main
        .contenedor
            include ../includes/form-consulta.pug

            .contenedor-resultados
                .card
                    .card-img
                        img(src="./img/libro.svg")
                    .card-info
                        .contenedor
                            label.label Gaceta
                            p 145
                        .contenedor
                            label.label(for="") Tipo
                            p Ordinaria
                        .contenedor
                            label.label(for="") Fecha
                            p 04/11/2017
                        .contenedor
                            label.label(for="") Páginas
                            p 32
                        .contenedor
                            label.label(for="") Tiraje
                            p 135
                        .contenedor
                            label.label(for="") Existencia
                            p 28
                    .card-opc
                        button.btn Dígital
                        button.btn Modificar

                .card
                    .card-img
                        img(src="./img/libro.svg")
                    .card-info
                        .contenedor
                            label.label Gaceta
                            p 145
                        .contenedor
                            label.label(for="") Tipo
                            p Ordinaria
                        .contenedor
                            label.label(for="") Fecha
                            p 04/11/2017
                        .contenedor
                            label.label(for="") Páginas
                            p 32
                        .contenedor
                            label.label(for="") Tiraje
                            p 135
                        .contenedor
                            label.label(for="") Existencia
                            p 28
                    .card-opc
                        button.btn Dígital
                        button.btn Modificar

                .card
                    .card-img
                        img(src="./img/libro.svg")
                    .card-info
                        .contenedor
                            label.label Gaceta
                            p 145
                        .contenedor
                            label.label(for="") Tipo
                            p Ordinaria
                        .contenedor
                            label.label(for="") Fecha
                            p 04/11/2017
                        .contenedor
                            label.label(for="") Páginas
                            p 32
                        .contenedor
                            label.label(for="") Tiraje
                            p 135
                        .contenedor
                            label.label(for="") Existencia
                            p 28
                    .card-opc
                        button.btn Dígital
                        button.btn Modificar

                .card
                    .card-img
                        img(src="./img/libro.svg")
                    .card-info
                        .contenedor
                            label.label Gaceta
                            p 145
                        .contenedor
                            label.label(for="") Tipo
                            p Ordinaria
                        .contenedor
                            label.label(for="") Fecha
                            p 04/11/2017
                        .contenedor
                            label.label(for="") Páginas
                            p 32
                        .contenedor
                            label.label(for="") Tiraje
                            p 135
                        .contenedor
                            label.label(for="") Existencia
                            p 28
                    .card-opc
                        button.btn Dígital
                        button.btn Modificar
