extends ../config/template.pug
append config
    -title=  "Hemeroteca | Modificación"
    -description= "Modificación de la gaceta"

block main
    main.main
        include ../includes/form-consulta.pug