/* ----- ----- ESTILOS DE MENÚ ----- ----- */
.menu-header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid $menu-linea;
}

.menu {
    @extend %contenedor-medidas;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-items {
    display: flex;
}

.menu-item {
    margin-left: 2rem;
}

.menu-link {
    padding-bottom: 5px;

    &:hover {
        color: $link-hover;
        border-bottom: 1px solid $link-hover;
        opacity: .6;
    }
}

.menu-icon {
    display: none;
}