/* ----- ----- ESTILOS DE RESPONSIVE ----- ----- */
@media screen and (max-width: 800px) {
    .main {
        padding: 0;
    }
    
    .form {
        grid-template-columns: 1fr;
    }

    .contenedor-radio {
        flex-direction: column;
    }

    .entrega {
        grid-column-start: auto;
    }

    .contenedor-radio {
        div {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 900px) {
    .contenedor-resultados {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .contenedor-resultados {
        grid-template-columns: 1fr;
    }
}