:root {
    --menu-linea:       #DFE0E0;
    --link-hover:       #55565A;
    --title-background: rgba(85, 86, 90, 0.8);
    --border-input:     #CED4DA;
}

/* ------------------- */
/* ESTILOS ESPECIFICOS */
/* ------------------- */

.contenedor {
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

.main {
    margin-bottom: 20px;
}

.contenedor-item {
    display: flex;
    flex-direction: column;
}

.contenedor-tipo-radio {
    color: var(--link-hover);
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.contenedor-item-formulario {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    width: 90%;
}

.contenedor-item-titulo {
    background-color: var(--title-background);
    color: #FFFFFF;
    font-size: 1.25rem;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
}

.contenedor-item-btns {
    display: grid;
    /* PRUEBA DE LAYOUT */
    border: 1px solid #FFF;
}

.label-titulo::after {
    content: ":"
}

@media screen and (max-width: 800px) {
    .contenedor-item-formulario {
        grid-template-columns: 1fr;
    }

    .contenedor-tipo-radio {
        flex-direction: column;
    }

    .contenedor-tipo-radio > div{
        margin-top: 10px;
    }
}
