/* ----- ----- PALETA DE COLORES ----- ----- */
:root {
    --menu-linea:       #DFE0E0;
    --link-hover:       #55565A;
    --title-background: rgba(85, 86, 90, 0.8);
    --border-input:     #CED4DA;
}

/* ----- ----- ESTILOS DE CONTENEDORES ----- ----- */
.main {
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
}

.form {
    align-self: center;
    width: 90%;
}

.contenedor-titulo {
    background-color: var(--title-background);
    color: #FFFFFF;
    font-size: 1.25rem;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
}

.contenedor-radio {
    color: var(--link-hover);
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.contenedor-btns {
    padding: 15px;
}

.contenedor-btns > button {
    background-color: #007bff;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 1.5;
    padding: .375rem .75rem;
}

.contenedor-btns > button:hover {
    cursor: pointer;
}

.label::after {
    content: ":"
}