@import 'reset';

$menu-linea:       #DFE0E0;
$link-hover:       #55565A;
$title-background: rgba(85, 86, 90, 0.8);
$border-input:     #CED4DA;

%contenedor-medidas {
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

%contenedor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
}

@import 'generales';
@import 'menu';
@import 'form';
@import 'responsive';
